.unwatched::before {
	content: '';
	height: 6px;
	width: 6px;
	background-color: rgb(62, 212, 62);
	position: absolute;
	left: 8px;
	border-radius: 5px;
}
.list-entry-row {
	padding-left: 5px;
}
